@model TourViewModel

@{
    ViewData["Title"] = "Crear Nuevo Tour"; 
}

<section>
<h5 class="display-6">@ViewData["Title"]</h5>
<hr />

<div class="row">
    <div class="col-md-12">
        <form asp-action="Create" asp-controller="Tours" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="row">
                <div class="col-md-6" >
                    <div>
                        <label asp-for="Name" class="form-label"></label>
                        <input asp-for="Name" class="form-control" />
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>
                    <div>
                        <label asp-for="Description" class="form-label"></label>
                        <textarea asp-for="Description" class="form-control" rows="4"></textarea>
                        <span asp-validation-for="Description" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-6" >
                    <div>
                        <label asp-for="Price" class="form-label"></label>
                        <input asp-for="Price" class="form-control" />
                        <span asp-validation-for="Price" class="text-danger"></span>
                    </div>
                    <div>
                        <label asp-for="DurationInDays" class="form-label"></label>
                        <input asp-for="DurationInDays" class="form-control" />
                        <span asp-validation-for="DurationInDays" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <h4 class="mt-4">Asignar ciudades destino</h4>
            <div>
                @for (int i = 0; i < Model.Cities?.Count; i++)
                {
                    <div class="form-check">
                        <input type="hidden" asp-for="Cities[i].Id" />
                        <input type="hidden" asp-for="Cities[i].Name" />
                        <input type="hidden" asp-for="Cities[i].Country" />
                        <input class="form-check-input" type="checkbox" asp-for="Cities[i].Selected" />
                        <label class="form-check-label" >@Model.Cities[i].Name</label>
                    </div>
                }
            </div>
            <div class="mt-3 d-flex gap-2">
                <input type="submit" value="Crear Tour" class="btn btn-primary" />
                <a asp-action="Index" asp-controller="Tours" class="btn btn-secondary">Cancelar</a>
            </div>
        </form>
    </div>
</div>
</section>